<div class="card border-0 mt-5">
  <div class="card-body">
    <h6 class="card-title"><%= "by Commentor" %></h6>
    <h6 class="card-subtitle mb-2 text-muted"><%= comment.created_at %></h6>
    <p class="card-text"><%= comment.body %></p>
  </div>
</div>
