<div class="container">
  <h2>Welcome to my blogs</h2>
 <%= render 'articles/article' %>
</div>
<%= will_paginate @articles, list_classes: %w(pagination justify-content-center), previous_label: "Previous", next_label: "Next" %>
