<div class="container">
  <%= render @article %>
  <div class="mt-2">
    <%= link_to 'Back to articles', root_path %>
  </div>
  <%= render 'comments/form' %>
  <%= render @article.comments.order('created_at DESC') %>
</div>
