<div class="container">
  <div>
    <div class="mt-4">
      <h2 class="text-center d-block w-auto">Categories</h2>
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title"><%= @category.title %></h5>
        </div>
      </div>
    </div>
  </div>
</div>