<div class="container">
  <div>
    <div class="mt-4">
      <h2 class="text-center d-block w-auto"><%= @category.title %></h2>
    </div>
    <h2 class="text-left d-block w-auto"><%= "Articles under #{@category.title}" %></h2>
    <%= render @category.articles %>
  </div>
</div>