<%#
<!--  css_class = "success"-->
<!--  if type.eql? 'info'-->
<!--    css_class = 'info'-->
<!--  else-->
<!--    if type.eql? 'warning'-->
<!--      css_class = 'warning'-->
<!--    end-->
<!--  end-->
%>

<!-- if the message is single line -->
<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissible fade show" role="alert">
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>

<%# if (defined? errors) && unless errors.empty? %>
<!--  <div class="alert alert-<%#= css_class %> mt-3" role="alert">-->
<!--    <h4 class="alert-heading">Errors</h4>-->
<!--    <ul>-->
<%# errors.each do |message| %>
<!--        <li><%#= message.attribute %> <%#= message.message %></li>-->
<%# end %>
<!--    </ul>-->
<!--  </div>-->
<%#
<!--  end-->
<!--  end-->
%>


